
\.vs/

Library/

Temp/

prova_Data/

*.exe

*.sln

*.csproj

Assets/Modern & Clean GUI/HUD/

Assets/Modern & Clean GUI/Icons/

Assets/Modern & Clean GUI/Sign In Rounded/

Assets/Modern & Clean GUI/Sign In Squared/

Assets/Interface/cleanandmodern\.unitypackage

Assets/Interface/cleanandmodern\.unitypackage\.meta

Assets/Interface/crosswalk\.jpg

Assets/Interface/crosswalk\.jpg\.meta
